{% extends "generalTemplates/outline.html" %}
{% block body %}
    <body>
        <div class="sub-box">
            <div class="container-fluid">
                <div class="title">
                    <h1 class="display-3">Choose a Competition to Alter</h1>
                </div>
            </div>
            <div class="container flex-wrap d-flex align-items-center justify-content-center">
                {% for comp in comps %}
                    <div class="mx-auto feis-box sub-box d-flex p-2 flex-wrap bd-highlight align-items-center justify-content-center rounded hide zoom-id" style="font-size:20px;height: 260px;">
                        <div style="padding: 10px 10px;" class="container-fluid">
                            {{ comp['name'] }}<br>
                            {{ comp['code'] }}
                        </div>
                        <div class="container d-flex align-items-center justify-content-center">
                            <div class="col-md-5 d-flex flex-wrap align-items-center justify-content-center py-4">
                                <form class="mx-auto" method="POST" action="{{ url_for('merge') }}">
                                    <input type="hidden" value="{{ comp['id'] }}" name="compId">
                                    <button type="submit" class="btn btn-primary">Merge</button>
                                </form>
                            </div>
                            <div class="col-md-5 d-flex flex-wrap align-items-center justify-content-center py-4">
                                <form class="mx-auto" method="POST" action="{{ url_for('split') }}">
                                    <input type="hidden" value="{{ comp['id'] }}" name="compId">
                                    <button type="submit" class="btn btn-primary">Split</button>
                                </form>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </body>
{% endblock body %}