{% extends "generalTemplates/outline.html" %}
{% block body %}
    <body>
        <div class="sub-box">
            <div class="container-fluid">
                <div class="title">
                    <h1 class="display-3">Organizing {{ name }}</h1>
                </div>
            </div>
            <div class="text-left feis-box mx-auto sub-box d-flex p-2 flex-wrap bd-highlight align-items-center justify-content-center rounded" style="font-size:20px">
                <form class="col-md-12 justify-content-center align-items-center my-3" method="POST" action="{{ url_for('edit_feis') }}">
                    <div class="text-center form-group col-md-12 justify-content-center my-2">
                        <input type="hidden" value="{{ feis_id }}" name="feisId" />
                        <button type="submit" class="btn btn-primary btn-lg">Edit Info</button>
                    </div>
                </form><hr style="width: 80%;" class="my-1">
                {% if not is_open %}
                    <form class="col-md-12 justify-content-center align-items-center my-3" method="POST" action="{{ url_for('alter_comps') }}">
                        <div class="text-center form-group col-md-12 justify-content-center my-2">
                            <input type="hidden" value="{{ feis_id }}" name="feisId" />
                            <button type="submit" class="btn btn-primary btn-lg">Merge/Split</button>
                        </div>
                    </form>
                {% else %}
                    <div class="text-center form-group col-md-12 justify-content-center align-items-center my-3">
                        <button type="button" class="btn btn-primary btn-lg" onclick="blockAccess();">Merge/Split</button>
                    </div>
                {% endif %}<hr style="width: 80%;" class="my-1">
                <form class="col-md-12 justify-content-center align-items-center my-3" method="POST" action="{{ url_for('choose_comp_type') }}">
                    <div class="text-center form-group col-md-12 justify-content-center my-2">
                        <input type="hidden" value="{{ feis_id }}" name="feisId" />
                        <button type="submit" class="btn btn-primary btn-lg">Show Competitions</button>
                    </div>
                </form><hr style="width: 80%;" class="my-1">
                <form class="col-md-12 justify-content-center align-items-center my-3" method="POST" action="{{ url_for('score_calc') }}">
                    <div class="text-center form-group col-md-12 justify-content-center my-2">
                        <input type="hidden" value="{{ feis_id }}" name="feisId" />
                        <button type="submit" class="btn btn-primary btn-lg">Scoresheet Calculator</button>
                    </div>
                </form>
            </div>
        </div>
        <script>
            function blockAccess() {
                alert("You may only Merge/Split once the feis is closed to registration");
            }
        </script>
    </body>
{% endblock body %}