{% extends "generalTemplates/outline.html" %}
{% block body %}
    <body>
        <div class="sub-box">
            <div class="container-fluid">
                <div class="title">
                    <h1 class="display-3">Scoresheet Calculator</h1>
                </div>
            </div>
            <div class="container">
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Competition</th>
                            <th scope="col">Sheets Required</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for sheet in sheets %}
                            <tr>
                                <td>{{ sheet['name'] }}</td>
                                <td>{{ sheet['entries'] }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </body>
{% endblock body %}