{% extends "generalTemplates/outline.html" %}
{% block body %}
    <body>
        <div class="sub-box">
            <div class="container-fluid">
                <div class="title">
                    <h1 class="display-3">Registering for {{ feis_name }}</h1>
                </div>
            </div>
            <div class="title container d-flex flex-wrap justify-content-center" style="margin: 0 auto;">
                <form method="POST">
                    {% for dancer in comps %}
                        {% set i = loop.index0 %}
                        <div class="title">
                            <h1 class="display-3">{{ dancers[i]['fName'] + " " + dancers[i]['lName'] }}:</h1>
                        </div>
                        {% if comps[dancer]|length > 0 %}
                            {% for comp in comps[dancer] %}
                                <div class="mx-auto feis-box sub-box d-flex p-2 flex-wrap bd-highlight align-items-center justify-content-center rounded hide zoom-id" style="font-size:20px">
                                    <div style="padding: 10px 10px;">
                                        {{ comp['name'] }}<br>
                                        {{ comp['code'] }}
                                    </div>
                                    <div style="padding: 10px 10px;">
                                        <label>
                                            <input style="transform: scale(2);" type="checkbox" name="register[{{ dancers[i]['id'] }}][]" value="{{ comp['id'] }}">
                                        </label>
                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                            <div class="sub-box">
                                <p style="margin: 0 auto;font-size:20px;" class="hide zoom-id">
                                    {{ dancers[i]['fName'] }} doesn't fit any competition's criteria that they aren't already
                                    registered for.
                                </p>
                            </div>
                        {% endif %}
                        {% if loop.index != comps[dancer]|length %}
                            <hr>
                        {% endif %}
                    {% endfor %}
                    <input type="hidden" name="startScript" value="1">
                    <button class="btn btn-primary" type="submit">Register</button>
                </form>
            </div>
        </div>
    </body>
{% endblock body %}