{% extends "generalTemplates/outline.html" %}
{% block body %}
    <body>
        <div class="sub-box">
            {% if is_logged == False %}
                <div class="title">
                    <h1 class="display-3">Please Log In</h1>
                </div>
                <p style="margin: 0 auto;font-size:25px;" class="hide zoom-id">
                    To register for a feis you have to <a href="{{ url_for('signup') }}">Sign Up</a> and <a href="{{ url_for('login') }}">Log In.</a>
                </p>
            {% else %}
                <div class="title">
                    <h1 class="display-3">Choose A Feis</h1>
                </div>
                <div class="title container d-flex flex-wrap justify-content-center" style="margin: 0 auto;">
                    {% if feiseanna|length > 0 %}
                        {% for feis in feiseanna %}
                            {% if loop.index == feiseanna|length and feiseanna|length % 3 != 3 %}
                                {% set animation = animations[loop.index % 3] %}
                            {% else %}
                                {% set animation = animations[loop.index0 % 3] %}
                            {% endif %}
                            <div class="mx-auto feis-box sub-box d-flex p-2 flex-wrap bd-highlight align-items-center justify-content-center rounded hide {{ animation }}" style="font-size:20px">
                                <div class="col-md-12 justify-content-center" style="padding: 10px 10px;">
                                    <b class="pb-2">{{ feis['name']}}</b><br>
                                    {{ feis['date'].strftime('%B %d, %Y') }}<br>
                                    {{ feis['location'] }}<br>
                                    {{ feis['region'] }}
                                </div>
                                <div class="col-md-12 justify-content-center" style="padding: 10px 10px;">
                                    <form method="POST">
                                        <input type="hidden" value="{{ feis['id'] }}" name="id">
                                        <button class="btn btn-primary" type="submit">Register</button>
                                    </form>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <p style="margin: 0 auto;font-size:25px;" class="hide zoom-id">No feiseanna to show</p>
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </body>
{% endblock body %}