{% extends "generalTemplates/outline.html" %}
{% block body %}
    <body>
        <div class="sub-box">
            {% if is_logged == False %}
                <div class="title">
                    <h1 class="display-3">Please Log In</h1>
                </div>
                <p style="margin: 0 auto;font-size:25px;">
                    To register for a feis you have to <a href="{{ url_for('signup') }}">Sign Up</a> and <a href="{{ url_for('login') }}">Log In.</a>
                </p>
            {% else %}
                <div class="title">
                    <h1 class="display-3">Choose A Feis</h1>
                </div>
                <div class="title container d-flex flex-wrap justify-content-center mx-auto">
                    {% if feiseanna|length > 0 %}
                        <div class="row justify-content-around w-100">
                        {% for feis in feiseanna %}
                            <div class="py-3">
                                <div class="card hide zoom-id" style="width: 300px;">
                                    <div class="card-header text-left"><h4 class="card-title">{{ feis['name']}}</h4></div>
                                    <div class="card-body text-center" style="font-size: 20px">
                                        <p>{{ feis['date'].strftime('%B %d, %Y') }}</p>
                                        <p>{{ feis['location'] }}</p>
                                        <p>{{ feis['region'] }}</p>
                                        <hr>
                                        <form method="POST">
                                            <input type="hidden" value="{{ feis['id'] }}" name="id">
                                            <button class="btn btn-primary" type="submit">Register</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        </div>
                    {% else %}
                        <p style="margin: 0 auto;font-size:25px;" class="hide zoom-id">No feiseanna to show</p>
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </body>
{% endblock body %}