html {
}

header div a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

header {
    top: 0;
}

header img {
    width: 100px;
    height: 100px;
}

body {
    padding-top: 50px;
    text-align: center;
    position: relative;
}

.hide {
    opacity: 0;
}

.title {
    padding-top: 50px;
    padding-bottom: 50px;
}

.box {
    margin-top: 100px;
    margin-bottom: 100px;
}

.sub-box {
    margin-top: 50px;
    margin-bottom: 50px;
}

#sketch {
    height: 50vh;
}

#welcome p {
    padding: 0 20%;
}

#hire {
    position: absolute;
}

#hire p {
    padding: 0 20%;
}

#choose p {
    padding: 0 20%;
}

#footer {
    position: relative;
    bottom: 0;
    text-align: center;
    width: 100%;
}

.col {
    float: left;
    width: 33.33%;
}

.feis-box {
    width: 350px;
    margin: 0 auto;
    border: 1px solid rgb(25, 25, 25);
    background-color: rgb(245, 245, 245);
}