html {
}

header div a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

header {
    top: 0;
}

header img {
    width: 100px;
    height: 100px;
}

body {
    padding-top: 50px;
    text-align: center;
    position: relative;
}

body h1 {
    color: #7100bc;
}

hr.fade {
    border: 0;
    height: 1px;
    background: #333;
    background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc);
    background-image: -moz-linear-gradient(left, #ccc, #333, #ccc);
    background-image: -ms-linear-gradient(left, #ccc, #333, #ccc);
    background-image: -o-linear-gradient(left, #ccc, #333, #ccc);
}

.title {
    margin-top: 50px;
    margin-bottom: 50px;
}

.box {
    margin-top: 100px;
    margin-bottom: 100px;
}

#sketch {
    height: 40vh;
}

#welcome p {
    padding: 0 20%;
}

#hire {
    position: absolute;
}

#hire p {
    padding: 0 20%;
}

#choose p {
    padding: 0 20%;
}

#footer {
    position: relative;
    bottom: 0;
    text-align: center;
    width: 100%;
}

.col {
    float: left;
    width: 33.33%;
}

.feis-box {
    margin: 0 auto;
    border: 1px solid rgb(25, 25, 25);
    background-color: rgb(245, 245, 245);
}