{% extends "generalTemplates/outline.html" %}
{% block body %}
    <body>
        <style>
            table {
                font-size:20px;
                border:2px solid black;
            } th, td {
                padding: 15px;
                border: 2px solid black;
            } table tr:nth-child(odd) {
                background-color: #eee;
            }
            table tr:nth-child(even) {
                background-color: #fff;
            }
        </style><br>
        <div style="width:75%;display: flex;margin: 0 auto;justify-content: center;">
            <div style="display: flex;width: 100%;align-items: center;justify-content: space-around;flex-direction: column;">
                {% for title in titles %}
                    <h1 style="font-family:Teko;font-size:50px">{{ title }}</h1><hr>
                    <table>
                        <tr>
                            <th>Name</th>
                            <th>Code</th>
                            <th>Minimum Age</th>
                            <th>Maximum Age</th>
                            <th>Level</th>
                            <th>Genders</th>
                        </tr>
                        {% for comp in tables[loop.index0] %}
                            <tr>
                                <td>{{ comp['name'] }}</td>
                                <td>{{ comp['code'] }}</td>
                                <td>{{ comp['minAge'] }}</td>
                                <td>{{ comp['maxAge'] }}</td>
                                <td>{{ comp['level'] }}</td>
                                <td>{{ comp['genders'] }}</td>
                            </tr>
                        {% endfor %}
                    </table><hr>
                {% endfor %}
            </div>
        </div>
    </body>
{% endblock body %}