{% extends "generalTemplates/outline.html" %}
{% block body %}
    <body>
        <style>
            table {
                font-size:20px;
                border:2px solid black;
            } th, td {
                padding: 15px;
                border: 2px solid black;
            } table tr:nth-child(odd) {
                background-color: #eee;
            }
            table tr:nth-child(even) {
                background-color: #fff;
            }
        </style><br>
        <h2>What would you like to do with {{ name }}?</h2><hr>
        <div style="width:50%;display: flex;margin: 0 auto;justify-content: center;">
            <table>
                <tr>
                    <td>
                        <form method="POST" action="{{ url_for('edit_feis') }}">
                            <input type="hidden" value="{{ feis_id }}" name="feisId" />
                            <input type="submit" value="Edit Feis Info" />
                        </form>
                    </td>
                </tr>
                <tr>
                    <td>
                        <form method="POST" action="{{ url_for('alter_comps') }}">
                            <input type="hidden" value="{{ feis_id }}" name="feisId" />
                            <input type="submit" value="Merge/Split Competitions" />
                        </form>
                    </td>
                </tr>
                <tr>
                    <td>
                        <form method="POST" action="{{ url_for('score_calc') }}">
                            <input type="hidden" value="{{ feis_id }}" name="feisId" />
                            <input type="submit" value="Scoresheet Calculator" />
                        </form>
                    </td>
                </tr>
            </table>
        </div>
    </body>
{% endblock body %}