{% extends "generalTemplates/outline.html" %}
{% block body %}
    <body>
        <div class="sub-box">
            {% if errors|length > 0 %}
                <div class="sub-title d-flex container mx-auto hide shake-id justify-content-center align-items-center flex-wrap pb-0" style="color: red;">
                    {% for error in errors %}
                        <div class="col-md-12">
                            <p style="font-size: 20px;">{{ error }}</p>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
            <div class="container-fluid">
                <div class="title">
                    <h1 class="display-3">Add a dancer</h1>
                </div>
            </div>
        </div>
        <div>
            <form method="POST">
                <table style="margin: 0 auto;">
                    <tr>
                      <td>
                          {{ render_field(form.f_name) }}
                      </td>
                    </tr>
                    <tr>
                      <td>
                          {{ render_field(form.l_name) }}
                      </td>
                    </tr>
                    <tr>
                      <td>
                          {{ render_field(form.year) }}
                      </td>
                    </tr>
                    <tr>
                      <td>
                          {{ render_field(form.school) }}
                      </td>
                    </tr>
                    <tr>
                      <td>
                          {{ render_field(form.level) }}
                      </td>
                    </tr>
                    <tr>
                      <td>
                          {{ render_field(form.gender) }}
                      </td>
                    </tr>
                    <tr>
                      <td>
                          {{ render_field(form.show) }}
                      </td>
                    </tr>
                </table><br>
                <input style="margin:0 auto; display: table;" type="submit" value="Create">
            </form>
        </div>
    </body>
{% endblock body %}