{% extends "generalTemplates/outline.html" %}
{% block body %}
    <body>
        <div class="sub-box">
            {% if errors|length > 0 %}
                <div class="container">
                    <div class="text-left alert alert-danger alert-dismissible fade show shake-id hide" role="alert">
                        <h4 class="alert-heading">
                            Uh-oh!
                        </h4>
                        <h5 class="alert-heading">We encountered some issues:</h5>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <hr>
                        <ul class="pl-3">
                            {% for error in errors %}
                                <li class="my-2">{{ error }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            {% endif %}
            <div class="container-fluid">
                <div class="title">
                    <h1 class="display-3">Edit {{ name }}'s Info</h1>
                </div>
            </div>
            <form method="POST" class="pb-4 mx-auto" style="width: 300px">
                <div class="card bg-light">
                    <div class="card-body text-left">
                        <div class="card-text form-group my-4">
                            {{ form.f_name(class_="form-control", placeholder="Enter First Name", id="fname") }}
                        </div>
                        <div class="card-text form-group my-4">
                            {{ form.l_name(class_="form-control", placeholder="Enter Last Name", id="lname") }}
                        </div>
                        <div class="card-text form-group my-4">
                            {{ form.year(class_="form-control", id="year") }}
                        </div>
                        <div class="card-text form-group my-4">
                            {{ form.school(class_="form-control", id="school") }}
                        </div>
                        <div class="card-text form-group my-4">
                            {{ form.level(class_="form-control", id="level") }}
                        </div>
                        <div class="card-text form-group my-4">
                            {{ form.gender(class_="form-control", id="gender") }}
                        </div>
                        <div class="card-text form-group my-4">
                            {{ form.show(class_="form-control", id="gender") }}
                        </div>
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary">Alter</button>
                    </div>
                </div>
                <input type="hidden" name="id" value="{{ id }}">
                <input type="hidden" name="name" value="{{ name }}">
            </form>
        </div>
    </body>
{% endblock body %}