{% extends "generalTemplates/outline.html" %}
{% block body %}
    <body>
        <div class="sub-box">
            {% if errors|length > 0 %}
                <div class="sub-title d-flex container mx-auto hide shake-id justify-content-center align-items-center flex-wrap pb-0" style="color: red;">
                    {% for error in errors %}
                        <div class="col-md-12">
                            <p style="font-size: 20px;">{{ error }}</p>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
            <div class="container-fluid">
                <div class="title">
                    <h1 class="display-3">Edit {{ name }}'s Info</h1>
                </div>
            </div>
            <form method="POST">
                <div class="text-left feis-box mx-auto sub-box d-flex p-2 flex-wrap bd-highlight align-items-center justify-content-center rounded" style="font-size:20px">
                    <div class="form-group col-md-12 justify-content-center" style="padding-top: 10px;">
                        <label for="fname">First Name</label>
                        {{ form.f_name(class_="form-control", placeholder="Enter First Name", id="fname") }}
                    </div>
                    <div class="form-group col-md-12 justify-content-center" style="padding-top: 10px;">
                        <label for="lname">Last Name</label>
                        {{ form.l_name(class_="form-control", placeholder="Enter Last Name", id="lname") }}
                    </div>
                    <div class="form-group col-md-12 justify-content-center" style="padding-top: 10px;">
                        <label for="year">Year of Birth</label>
                        {{ form.year(class_="form-control", id="year") }}
                    </div>
                    <div class="form-group col-md-12 justify-content-center" style="padding-top: 10px;">
                        <label for="school">School</label>
                        {{ form.school(class_="form-control", id="school") }}
                    </div>
                    <div class="form-group col-md-12 justify-content-center" style="padding-top: 10px;">
                        <label for="level">Level</label>
                        {{ form.level(class_="form-control", id="level") }}
                    </div>
                    <div class="form-group col-md-12 justify-content-center" style="padding-top: 10px;">
                        <label for="gender">Gender</label>
                        {{ form.gender(class_="form-control", id="gender") }}
                    </div>
                    <div class="form-group col-md-12 justify-content-center" style="padding-top: 10px;">
                        <label for="show">Show Name on Entries</label>
                        {{ form.show(class_="form-control", id="show") }}
                    </div>
                    <div class="text-center form-group col-md-12 justify-content-center" style="padding-bottom: 10px;">
                        <button type="submit" class="btn btn-primary">Alter</button>
                    </div>
                    <input type="hidden" name="id" value="{{ id }}">
                    <input type="hidden" name="name" value="{{ name }}">
                </div>
            </form>
        </div>
    </body>
{% endblock body %}