{% extends "generalTemplates/outline.html" %}
{% block body %}
    <body>
        <div class="sub-box">
            <div class="container-fluid">
                <div class="title hide fade-id">
                    <h1 class="display-3">Why Choose Us?</h1>
                </div>
                <div class="d-flex flex-wrap flex-direction-column justify-content-center" style="width: 75%;margin: 0 auto;">
                    <i class="text-center col-md-7 fas fa-dollar-sign fa-4x hide fade-id" style="color: darkgreen"></i>
                    <div class="sub-box d-flex p-2 bd-highlight border border-dark rounded col-md-7 hide fade-left-id" style="width: 100%;height: 20%;background-color: rgb(245, 245, 245);margin-top: 10px;">
                        <div class="d-flex flex-column align-self-center" style="padding: 10px 10px;margin: 0 auto;">
                            <h1 class="display-4">Cost Effective</h1>
                            <p style="font-size:25px;padding:0 5%">
                                Stop paying heaps of money for feis services. AutoFeis provides <strong>low, flat price
                                </strong> for hosting your feis.
                            </p>
                        </div>
                    </div>
                    <i class="text-center col-md-7 fas fa-code fa-4x hide fade-id" style="color: darkcyan;"></i>
                    <div class="sub-box d-flex p-2 bd-highlight border border-dark rounded col-md-7 hide fade-right-id" style="width: 100%;height: 20%;background-color: rgb(245, 245, 245);margin-top: 10px;">
                        <div class="d-flex flex-column align-self-center" style="padding: 10px 10px;margin: 0 auto;">
                            <h1 class="display-4">High-Tech</h1>
                            <p style="font-size:25px;padding:0 5%">
                                Our cutting edge <strong>Artificial Intelligence</strong> technology saves you hours from
                                doing the boring jobs.
                            </p>
                        </div>
                    </div>
                    <i class="text-center col-md-7 fas fa-laptop fa-4x hide fade-id" style="color: darkblue;"></i>
                    <div class="sub-box d-flex p-2 bd-highlight border border-dark rounded col-md-7 hide fade-left-id" style="width: 100%;height: 20%;background-color: rgb(245, 245, 245);margin-top: 10px;">
                        <div class="d-flex flex-column align-self-center" style="padding: 10px 10px;margin: 0 auto;">
                            <h1 class="display-4">Ease of Use</h1>
                            <p style="font-size:25px;padding:0 5%">
                                The user experience is our top priority, meaning <strong>anyone</strong> will feel at home
                                using our services.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="box">
            <div class="container-fluid">
                <div class="title hide fade-id">
                    <h1 class="display-3">Services</h1>
                </div>
                <div class="d-flex flex-wrap justify-content-center">
                    <div class="sub-box bd-highlight col-md-5 border border-dark rounded mx-auto hide fade-left-id" style="background-color: rgb(245, 245, 245);">
                        <h1 class="display-4">Tabulation</h1>
                        <p style="font-size:25px;padding:0 5%">
                            Data entry is a thing of the past with our A.I-powered tabulation system. Decrease the wait
                            time between dancing and results by over 300%!
                        </p>
                    </div>
                    <div class="sub-box bd-highlight col-md-5 border border-dark rounded mx-auto hide fade-right-id" style="background-color: rgb(245, 245, 245);">
                        <h1 class="display-4">Feis Creation</h1>
                        <p style="font-size:25px;padding:0 5%">
                            The AutoFeis feis creation system is dynamic and easy to use. Select the options that fit your
                            needs, create unique competitions, and watch your feis be created for you.
                        </p>
                    </div>
                    <div class="sub-box bd-highlight col-md-5 border border-dark rounded mx-auto hide fade-left-id" style="background-color: rgb(245, 245, 245);">
                        <h1 class="display-4">Registration</h1>
                        <p style="font-size:25px;padding:0 5%">
                            We take care of all your registrations and make it as simple as possible. Simply log in,
                            click register, and AutoFeis will show you all the competitions your dancers can enter.
                        </p>
                    </div>
                    <div class="sub-box bd-highlight col-md-5 border border-dark rounded mx-auto hide fade-right-id" style="background-color: rgb(245, 245, 245);">
                        <h1 class="display-4">Entry List</h1>
                        <p style="font-size:25px;padding:0 5%">
                            Our entry lists are sorted by competition to make it easier for people to see who they're up
                            against. You'll never fall out of the loop; our entry lists are updated in real-time.
                        </p>
                    </div>
                    <div class="sub-box bd-highlight col-md-5 border border-dark rounded mx-auto hide fade-left-id" style="background-color: rgb(245, 245, 245);">
                        <h1 class="display-4">Merge/Split</h1>
                        <p style="font-size:25px;padding:0 5%">
                            Merging and splitting competitions are automated, meaning that with a click of a button any
                            competition can be split or merged giving you control over how you feis runs.
                        </p>
                    </div>
                    <div class="sub-box bd-highlight col-md-5 border border-dark rounded mx-auto hide fade-right-id" style="background-color: rgb(245, 245, 245);">
                        <h1 class="display-4">Advertising</h1>
                        <p style="font-size:25px;padding:0 5%">
                            When your feis is hosted with AutoFeis it will be displayed on our <a href="{{ url_for('feisinfo') }}">Feis Info</a>
                            page, as well as our <a href="{{ url_for('index') }}">Home</a> page if its coming up soon.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <p class="hide fade-id" style="font-size:25px;bottom: 0;">If you have any questions, don't hesitate to <a href="mailto:spencermcmurray@hotmail.com">contact us</a></p>
    </body>
{% endblock body %}