{% extends "generalTemplates/outline.html" %}
{% block body %}
    <body>
        <div class="sub-box">
            <div class="container-fluid">
                <div class="title">
                    <h1 class="display-3">Why Choose Us?</h1>
                </div>
                <div class="d-flex flex-wrap flex-direction-column justify-content-center" style="width: 75%;margin: 0 auto;">
                    <i class="text-center col-md-7 fas fa-dollar-sign fa-4x" style="color: darkgreen"></i>
                    <div class="sub-box d-flex p-2 bd-highlight border border-dark rounded col-md-7" style="width: 100%;height: 20%;background-color: rgb(245, 245, 245);margin-top: 10px;">
                        <div class="d-flex flex-column align-self-center" style="padding: 10px 10px;margin: 0 auto;">
                            <h1 class="display-4">Cost Effective</h1>
                            <p style="font-size:25px;padding:0 5%">
                                Stop paying heaps of money for feis services. AutoFeis provides <strong>low, flat price
                                </strong> for hosting your feis.
                            </p>
                        </div>
                    </div>
                    <i class="text-center col-md-7 fas fa-brain fa-4x" style="color: hotpink;"></i>
                    <div class="sub-box d-flex p-2 bd-highlight border border-dark rounded col-md-7" style="width: 100%;height: 20%;background-color: rgb(245, 245, 245);margin-top: 10px;">
                        <div class="d-flex flex-column align-self-center" style="padding: 10px 10px;margin: 0 auto;">
                            <h1 class="display-4">High-Tech System</h1>
                            <p style="font-size:25px;padding:0 5%">
                                Our cutting edge <strong>Artificial Intelligence Technology</strong> saves you hours from
                                doing the boring jobs.
                            </p>
                        </div>
                    </div>
                    <i class="text-center col-md-7 fas fa-laptop fa-4x" style="color: purple;"></i>
                    <div class="sub-box d-flex p-2 bd-highlight border border-dark rounded col-md-7" style="width: 100%;height: 20%;background-color: rgb(245, 245, 245);margin-top: 10px;">
                        <div class="d-flex flex-column align-self-center" style="padding: 10px 10px;margin: 0 auto;">
                            <h1 class="display-4">Ease of Use</h1>
                            <p style="font-size:25px;padding:0 5%">
                                The user experience is our top priority, meaning <strong>anyone</strong> will feel at home
                                using our services.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <p style="font-size:25px;bottom: 0;">If you have any questions, don't hesitate to <a href="mailto:spencermcmurray@hotmail.com">contact us</a></p>
        </div>
        <hr>
        <div class="box">
            <div class="container-fluid">
                <div class="container">
                    <div class="title">
                        <h1 class="display-3">Services</h1>
                    </div>
                    <div class="container-fluid d-flex flex-wrap justify-content-space-between">
                        <div class="row">
                            <div class="col-md-3 border border-dark rounded">Test</div>
                            <div class="col-md-3 border border-dark rounded">Test</div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 border border-dark rounded">Test</div>
                            <div class="col-md-3 border border-dark rounded">Test</div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 border border-dark rounded">Test</div>
                            <div class="col-md-3 border border-dark rounded">Test</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="width: 75%; margin: 0 auto;">
            <h1 class="display-5">The Story of AutoFeis</h1>
            <br /><br />
            <h1>Introduction</h1>
            <p>
                AutoFeis was made solely by me, Spencer McMurray, a 19-year old
                Computer Science student at the University of Toronto. I've
                been dancing since I was 10, but been at feiseanna since I was
                2 thanks to my sister who also dances.
            </p><br />
            <h1>Backstory</h1>
            <p>
                At all of the many feiseanna I've attended, results have always
                taken a long time to arrive. When I was younger I didn't understand
                why, but as I got older I started to see how much effort went
                into tabulation, and I grew much more respect for those who
                tabulate our results.
            </p><br />
            <h1>The Story</h1>
            <p>
                I've had an intrest in Computer Science for a long time, but
                only recently have I delved into the insane topic of Artificial
                Intelligence. It's far too complicated to explain to you in one
                paragraph, but I reccommend you search what goes into modern
                A.I if this intrests you. Anyway, I grew intrested in the idea
                of automating human tasks like driving cars and mastering games.
            </p>
            <p>
                One day I was at a feis and I was curious to see how long it
                would take to tabulate our results. Two hours later we had our
                results, and I knew that A.I could speed up the process, while
                reducing the amount of human resources needed by a large amount.
            </p>
            <p>
                It took many days full of programming, late nights, and early
                mornings, but I managed to complete it in just few months. So
                hopefully you can enjoy much more relaxed tabulation, along
                with knowing that the tech that went into this system may one
                day take over the world ;)
            </p>
        </div>
    </body>
{% endblock body %}