{% extends "generalTemplates/outline.html" %}
{% block body %}
    <body>
        <div class="sub-box">
            <div class="container-fluid">
                <div class="title">
                    <h1 class="display-3">Why Choose Us?</h1>
                </div>
                <div class="d-flex flex-wrap flex-direction-column justify-content-center mx-auto" style="width: 90%">
                    <i class="text-center col-md-7 fas fa-dollar-sign fa-4x" style="color: darkgreen"></i>
                    <div class="col-md-7 hide fade-left-id p-4">
                        <div class="card bg-light">
                            <div class="card-header">
                                <h1 class="display-4">Cost Effective</h1>
                            </div>
                            <div class="card-body">
                                <p style="font-size:25px" class="card-text lead py-2">
                                    Stop paying heaps of money for feis services. AutoFeis provides <strong>low, flat price
                                    </strong> for hosting your feis.
                                </p>
                            </div>
                        </div>
                    </div>
                    <i class="text-center col-md-7 fas fa-code fa-4x" style="color: darkcyan;"></i>
                    <div class="col-md-7 hide fade-right-id p-4">
                        <div class="card bg-light">
                            <div class="card-header">
                                <h1 class="display-4">High Tech</h1>
                            </div>
                            <div class="card-body">
                                <p style="font-size:25px" class="card-text lead py-2">
                                    Our cutting edge <strong>Artificial Intelligence</strong> technology saves you hours from
                                    doing the boring jobs.
                                </p>
                            </div>
                        </div>
                    </div>
                    <i class="text-center col-md-7 fas fa-laptop fa-4x" style="color: darkblue;"></i>
                    <div class="col-md-7 hide fade-left-id p-4">
                        <div class="card bg-light">
                            <div class="card-header">
                                <h1 class="display-4">Ease of Use</h1>
                            </div>
                            <div class="card-body">
                                <p style="font-size:25px" class="card-text lead py-2">
                                    The user experience is our top priority, meaning <strong>anyone</strong> will feel at home
                                    using our services.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr style="width: 80%">
        <div class="container py-4">
            <div class="title">
                <h1 class="display-3">Services</h1>
            </div>
            <div class="card-deck pb-4">
                <div class="card bg-light hide fade-left-id">
                    <div class="card-header">
                        <h1 class="display-4">Tabulation</h1>
                    </div>
                    <div class="card-body">
                        <p style="font-size:25px;" class="card-text lead py-2">
                            Data entry is a thing of the past with our <strong>A.I-powered</strong> tabulation system.
                            Decrease the wait  time between dancing and results by over <strong>300%!</strong>
                        </p>
                    </div>
                </div>
                <div class="card bg-light hide fade-right-id">
                    <div class="card-header">
                        <h1 class="display-4">Feis Creation</h1>
                    </div>
                    <div class="card-body">
                        <p style="font-size:25px;" class="card-text lead py-2">
                            The AutoFeis feis creation system is <strong>dynamic and easy to use</strong>. Select the
                            options that fit your needs, create unique competitions, and watch your feis be created for you.
                        </p>
                    </div>
                </div>
            </div>
            <div class="card-deck pb-4">
                <div class="card bg-light hide fade-left-id">
                    <div class="card-header">
                        <h1 class="display-4">Registration</h1>
                    </div>
                    <div class="card-body">
                        <p style="font-size:25px;" class="card-text lead py-2">
                            We take care of <strong>all your registrations</strong> and make it as simple as possible. Simply log in,
                            click register, and AutoFeis will <strong>show you all competitions</strong> your dancers can enter.
                        </p>
                    </div>
                </div>
                <div class="card bg-light hide fade-right-id">
                    <div class="card-header">
                        <h1 class="display-4">Entries List</h1>
                    </div>
                    <div class="card-body">
                        <p style="font-size:25px;" class="card-text lead py-2">
                            Our entry lists are <strong>sorted by competition</strong> to make it easier for people to
                            see who they're up against. You'll never fall out of the loop; our entry lists are <strong>
                            updated in real-time.</strong>
                        </p>
                    </div>
                </div>
            </div>
            <div class="card-deck pb-4">
                <div class="card bg-light hide fade-left-id">
                    <div class="card-header">
                        <h1 class="display-4">Merge/Split</h1>
                    </div>
                    <div class="card-body">
                        <p style="font-size:25px;" class="card-text lead py-2">
                            Merging and splitting competitions is <strong>automated,</strong> meaning that with a click of a button any
                            competition can be split or merged <strong>giving you control</strong> over how you feis runs.
                        </p>
                    </div>
                </div>
                <div class="card bg-light hide fade-right-id">
                    <div class="card-header">
                        <h1 class="display-4">Advertising</h1>
                    </div>
                    <div class="card-body">
                        <p style="font-size:25px;" class="card-text lead py-2">
                            When your feis is hosted with AutoFeis it will be displayed on our <a href="{{ url_for('feisinfo') }}">Feis Info</a>
                            page, as well as our <a href="{{ url_for('index') }}">Home</a> page if its coming up soon.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <p style="font-size:25px;bottom: 0;">If you have any questions, don't hesitate to <a href="mailto:spencermcmurray@hotmail.com">contact us</a></p>
    </body>
{% endblock body %}