{% extends "generalTemplates/outline.html" %}
{% block body %}
    <body>
        <div class="sub-box">
            <div class="container-fluid">
                <div class="title">
                    <h1 class="display-3">{{ name }} Entries</h1>
                </div>
            </div>
            <div class="container">
                {% for entry in entries['dancers'] %}
                    {% set i = loop.index0 %}
                    <div class="title">
                        <p class="" style="font-size: 40px;">{{ entries['comps'][loop.index0] }}</p>
                        <p class="" style="font-size: 30px;">{{ entries['codes'][loop.index0] }}</p>
                    </div>
                    <table class="table table-striped table-bordered" style="font-size: 20px">
                        <thead>
                            <tr>
                                <th scope="col">Dancer</th>
                                <th scope="col">School</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for dancer in entry %}
                                <tr>
                                    <td>{{ dancer }}</td>
                                    <td>{{ entries['schools'][i][loop.index0] }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% endfor %}
            </div>
        </div>
    </body>
{% endblock body %}