{% extends "generalTemplates/outline.html" %}
{% block body %}
    <body>
        <div class="sub-box">
            <div class="container-fluid">
                <div class="title">
                    <h1 class="display-3 hide fade-id">Feis Info</h1>
                </div>
            </div>
            <div class="title container d-flex flex-wrap justify-content-center" style="margin: 0 auto;">
                {% if feiseanna|length > 0 %}
                    {% for feis in feiseanna %}
                        {% if loop.index == feiseanna|length and feiseanna|length % 3 != 3 %}
                            {% set animation = animations[loop.index % 3] %}
                        {% else %}
                            {% set animation = animations[loop.index0 % 3] %}
                        {% endif %}
                        <div class="mx-auto feis-box sub-box d-flex p-2 flex-wrap bd-highlight align-items-center justify-content-center rounded hide {{ animation }}" style="font-size:20px">
                            <div style="padding: 10px 10px;">
                                <b class="pb-2">{{ feis['name']}}</b><br>
                                {{ feis['date'].strftime('%B %d, %Y') }}<br>
                                {{ feis['location'] }}<br>
                                {{ feis['region'] }}
                            </div>
                            <div style="padding: 10px 10px;">
                                <a href='{{ feis["website"] }}' role="button" class="btn btn-link btn-sm" style="font-size:20px">
                                    Website
                                </a><br>
                                <a href='{{ url_for('register_page') }}' role="button" class="btn btn-link btn-sm" style="font-size:20px">
                                    Website
                                </a><br>
                                <a href='{{ url_for('entries', feis=feis['id']) }}' role="button" class="btn btn-link btn-sm" style="font-size:20px">
                                    Entries
                                </a><br>
                                <a href='{{ "/static/storage/syllabi/" + feis["syllabus"] }}' role="button" class="btn btn-link btn-sm" style="font-size:20px">
                                    Syllabus
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <p style="margin: 0 auto;font-size:25px;" class="hide zoom-id">No feiseanna to show</p>
                {% endif %}
            </div>
        </div>
    </body>
{% endblock body %}