{% extends "generalTemplates/outline.html" %}
{% block body %}
    <script src="{{ url_for('static', filename='scripts/linkedDots.js') }}"></script>
    <body>
        <div id="sketch"></div>
        <div id='welcome'>
            <h1 class="display-4">Welcome</h1>
            <p style='font-size:25px'>
                AutoFeis provides the World's <u>Fastest</u> tabulation and
                entry service for Irish Dance using the power of Artificial
                Intelligence. We provide our services <u>Worldwide</u> at no
                extra cost.
            </p>
            <p>
                Learn more about the new way to tabulate <a href="{{ url_for('about') }}">here</a>
            </p>
        </div><hr>
		<div style="width:100%;">
			<h1 class="display-4">Upcoming Feiseanna</h1><br>
			<div class="container">
                {% if feiseanna|length > 0 %}
                    {% for feis in feiseanna %}
                        <div style="margin: 0 auto;">
                            <div class="row vert-align" style="border: 1px solid black;">
                                <div class="col-md-6">
                                    <div>
                                        <b>{{ feis['name']}}</b><br>
                                        {{ feis['date'].strftime('%B %d, %Y') }}<br>
                                        {{ feis['location'] }}<br>
                                        {{ feis['region'] }}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div>
                                        <a href='{{ feis["website"] }}'>Website</a><br>
                                        <a href='{{ url_for('entries', feis=feis['id']) }}'>Entries</a><br>
                                        <a href='{{ "/static/storage/syllabi/" + feis["syllabus"] }}'>Syllabus</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <p>No feiseanna to show!</p>
                {% endif %}
			</div>
		</div>
    </body>
{% endblock body %}