{% extends "generalTemplates/outline.html" %}
{% block body %}
    <script src="{{ url_for('static', filename='scripts/linkedDots.js') }}"></script>
    <body>
        <div id="sketch"></div>
        <div class="box">
            <div id='welcome'>
                <div class="hide fade-id">
                    <p style='font-size:25px'>
                        AutoFeis is a feis organization platform providing its services
                        <strong>Worldwide</strong> at the same, low price.
                    </p><br>
                    <p style='font-size:25px'>
                        We tabulate using <strong>Artificial Intelligence</strong> to provide results
                        faster than your favourite tabulators by a mile.
                    </p><br>
                    <p style='font-size:25px'>
                        Learn more about the new way to tabulate <a href="{{ url_for('about') }}">here</a>
                    </p>
                </div>
            </div>
        </div><hr style="width: 80%;">
        <div class="box">
            <div class="container-fluid">
                <div class="title">
                    <h1 class="display-3">Upcoming Feiseanna</h1>
                </div>
                <div class="title container d-flex flex-wrap justify-content-center" style="margin: 0 auto;">
                    {% if feiseanna|length > 0 %}
                        {% for feis in feiseanna %}
                            <div class="mx-auto feis-box sub-box d-flex p-2 flex-wrap bd-highlight justify-content-center rounded hide zoom-id" style="font-size:20px">
                                <div style="padding: 10px 10px;">
                                    <b>{{ feis['name']}}</b><br>
                                    {{ feis['date'].strftime('%B %d, %Y') }}<br>
                                    {{ feis['location'] }}<br>
                                    {{ feis['region'] }}
                                </div>
                                <div style="padding: 10px 10px;">
                                    <a href='{{ feis["website"] }}' role="button" class="btn btn-link btn-sm" style="font-size:20px">
                                        Website
                                    </a><br>
                                    <a href='{{ url_for('entries', feis=feis['id']) }}' role="button" class="btn btn-link btn-sm" style="font-size:20px">
                                        Entries
                                    </a><br>
                                    <a href='{{ "/static/storage/syllabi/" + feis["syllabus"] }}' role="button" class="btn btn-link btn-sm" style="font-size:20px">
                                        Syllabus
                                    </a>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <p style="margin: 0 auto;font-size:25px;" class="zoom-id">None yet!</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </body>
{% endblock body %}