{% extends "generalTemplates/outline.html" %}
{% block body %}
    <body>
        <div class="sub-box">
            {% if errors|length > 0 %}
                <div class="sub-title d-flex container mx-auto hide shake-id justify-content-center align-items-center flex-wrap pb-0" style="color: red;">
                    {% for error in errors %}
                        <div class="col-md-12">
                            <p style="font-size: 20px;">{{ error }}</p>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
            <div class="container-fluid">
                <div class="title">
                    <h1 class="display-3">Sign Up</h1>
                </div>
            </div>
            <form method="POST">
                <div class="text-left feis-box mx-auto sub-box d-flex p-2 flex-wrap bd-highlight align-items-center justify-content-center rounded" style="font-size:20px">
                    <div class="form-group col-md-12 justify-content-center" style="padding-top: 10px;">
                        <label for="fname">First Name</label>
                        {{ form.f_name(class_="form-control", placeholder="Enter First Name", id="fname") }}
                    </div>
                    <div class="form-group col-md-12 justify-content-center" style="padding-top: 10px;">
                        <label for="lname">Last Name</label>
                        {{ form.l_name(class_="form-control", placeholder="Enter Last Name", id="lname") }}
                    </div>
                    <div class="form-group col-md-12 justify-content-center" style="padding-top: 10px;">
                        <label for="email">Email</label>
                        {{ form.email(class_="form-control", type="email", placeholder="Enter Email", id="email") }}
                    </div>
                    <div class="form-group col-md-12 justify-content-center" style="padding-bottom: 10px;">
                        <label for="pass">Password</label>
                        {{ form.password(class_="form-control", type="password", placeholder="Enter Password", id="pass") }}
                    </div>
                    <div class="form-group col-md-12 justify-content-center" style="padding-bottom: 10px;">
                        <label for="repass">Re-type Password</label>
                        {{ form.confirm(class_="form-control", type="password", placeholder="Confirm Password", id="repass") }}
                    </div>
                    <div class="text-center form-group col-md-12 justify-content-center" style="padding-bottom: 10px;">
                        <button type="submit" class="btn btn-primary">Log In</button>
                    </div>
                </div>
            </form>
            <p style="font-size:25px;bottom: 0;">
                By signing up you are agreeing to our <a href="{{ url_for('terms') }}">Terms of Service.</a>
            </p>
        </div>
    </body>
{% endblock body %}