{% extends "generalTemplates/outline.html" %}
{% from "generalTemplates/errors.html" import render_field %}
{% block body %}
    <link rel='stylesheet' href='../static/styles/css/signIn.css'>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Teko'>
    <body>
        <form method="POST">
            <div id="login-box">
                <div class="center">
                    <h1 style="font-family:Teko;font-size:50px">Sign up</h1>

                    {% with messages = get_flashed_messages()%}
                        {% if messages %}
                            <ul class="errors">
                            {% for message in messages%}
                                <li> {{ message }} </li>
                            {% endfor %}
                            </ul>
                        {% endif %}
                    {% endwith %}
                    {{ render_field(form.f_name) }}
                    {{ render_field(form.l_name) }}
                    {{ render_field(form.email) }}
                    {{ render_field(form.password) }}
                    {{ render_field(form.confirm) }}

                    <input type="submit" name="signup_submit" value="Sign up" />
                    <p>By continuing, you accept our <a href="{{ url_for('terms') }}">Terms of Service</a></p>
                </div>
            </div>
        </form>
    </body>
{% endblock body %}