{% extends "generalTemplates/outline.html" %}
{% block body %}
    <body>
        <div class="sub-box">
            <div class="container-fluid">
                <div class="title">
                    <h1 class="display-3 hide fade-id">Welcome, {{ name }}</h1>
                </div>
            </div>
            <hr style="width: 80%">
            <div class="sub-title">
                <h1 class="display-4">My Dancers</h1>
            </div>
            <div class="title container d-flex flex-wrap justify-content-center" style="margin: 0 auto;">
                {% if dancers|length > 0 %}
                    {% for dancer in dancers %}
                        {% if loop.index == dancers|length and dancers|length % 3 != 0 %}
                            {% set animation = animations[loop.index % 3] %}
                        {% else %}
                            {% set animation = animations[loop.index0 % 3] %}
                        {% endif %}
                        <div class="mx-auto feis-box sub-box d-flex p-2 flex-wrap bd-highlight align-items-center justify-content-center rounded hide {{ animation }}" style="font-size:20px">
                            <div style="padding: 10px 10px;width: 100%;">
                                <b>{{ dancer['fName'] }} {{ dancer['lName'] }}</b><br>
                                {{ dancer['level'] }}<br>
                                {{ dancer['school'] }}<br>
                                Born in {{ dancer['birthYear'] }}<br>
                                {{ dancer['gender'] }}
                            </div>
                            <div class="container-fluid d-flex flex-wrap align-items-center justify-content-center">
                                <div class="py-3 col-6">
                                    <form method="POST" action="{{ url_for('edit_dancer') }}">
                                        <input type="hidden" name="dancerId" value="{{ dancer['id'] }}" />
                                        <button style="width: 80px;" class="btn btn-primary" type="submit">Edit</button>
                                    </form>
                                </div>
                                <div class="py-3 col-6">
                                    <form method="POST" action="{{ url_for('delete_dancer') }}">
                                        <input type="hidden" value="{{ dancer['id'] }}" name="id" />
                                        <button style="width: 80px;" class="btn btn-primary" type="submit">Delete</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <p style="margin: 0 auto;font-size:25px;" class="hide zoom-id">No dancers to show</p>
                {% endif %}
            </div>
            <form method="POST" action="{{ url_for('add_dancer') }}">
                <button class="btn btn-primary" type="submit">Add a dancer</button>
            </form>
            <hr style="width: 80%">
            <div class="sub-title">
                <h1 class="display-4">My Feiseanna</h1>
            </div>
            <div class="title container d-flex flex-wrap justify-content-center" style="margin: 0 auto;">
                {% if feiseanna|length > 0 %}
                    {% for feis in feiseanna %}
                        {% if loop.index == feiseanna|length and feiseanna|length % 3 != 3 %}
                            {% set animation = animations[loop.index % 3] %}
                        {% else %}
                            {% set animation = animations[loop.index0 % 3] %}
                        {% endif %}
                        <div class="mx-auto feis-box sub-box d-flex p-2 flex-wrap bd-highlight align-items-center justify-content-center rounded hide {{ animation }}" style="font-size:20px">
                            <div style="padding: 10px 10px;width: 100%;">
                                <b>{{ feis['name']}}</b><br>
                                {{ feis['date'].strftime('%B %d, %Y') }}
                            </div>
                            <div style="padding: 10px 10px;width: 100%;">
                                <form method="POST" action="{{ url_for('feis_functions') }}">
                                    <input type="hidden" value="{{ feis['id'] }}" name="feisId" />
                                    <button class="btn btn-primary" type="submit">Organize</button>
                                </form>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <p style="margin: 0 auto;font-size:25px;" class="hide zoom-id">No feiseanna to show</p>
                {% endif %}
            </div>
            <form method="POST" action="{{ url_for('add_feis') }}">
                <button class="btn btn-primary" type="submit">Add a feis</button>
            </form>
        </div>
    </body>
{% endblock body %}