html:not(canvas) {
    background-image: linear-gradient(to right, #6ba8ff, #F5F5F5);
}

hr {
    border-color: black;
}

header div a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

header {
    top: 0;
    background-image: linear-gradient(to right, #6ba8ff, #F5F5F5);
}

header img {
    width: 100px;
    height: 100px;
}

body {
    padding-top: 50px;
    background-image: linear-gradient(to right, #6ba8ff, #F5F5F5);
    text-align: center;
    position: relative;
}

body h1 {
    color: #7100bc;
}

#welcome p {
    padding: 0 20%;
}

#hire {
    position: absolute;
}

#hire p {
    padding: 0 20%;
}

#choose p {
    padding: 0 20%;
}

#services td {
    text-align: left;
    width: 60%;
}

#services table {
    margin: auto;
}

#footer {
    position: relative;
    bottom: 0;
    text-align: center;
    width: 100%;
}

.top-bar a:hover:not(.log):not(.loghere) {
    background-color: #111;
}

.col {
    float: left;
    width: 33.33%;
}

.log {
    background-color: #228B22;
}

.log:hover {
    background-color: #006400;
}

.here {
    background-color: #111;
}

.loghere {
    background-color: #006400;
}
