{% extends "generalTemplates/outline.html" %}
{% block body %}
    <body>
        <div class="sub-box">
            <div class="container-fluid">
                <div class="title">
                    <h1 class="display-3">Confirm Competitions</h1>
                </div>
            </div>
            <div class="container">
                {% for level in comps %}
                    <div class="title">
                        <h1 class="display-4">{{ level }}</h1>
                    </div>
                    <div class="mx-auto container d-flex flex-wrap align-items-center justify-content-center pb-4">
                        {% for comp in comps[level] %}
                            {% set comp = comp.get_data() %}
                            <div class="p-2">
                                <div class="card bg-light" style="width: 300px">
                                    <div class="card-header text-left"><h4 class="card-title">{{ comp[2] }}</h4></div>
                                    <div class="card-body">
                                        <div class="card-text" style="font-size: 20px">
                                            <p>{{ comp[0] }} to {{ comp[1] }}</p>
                                            <p>{{ comp[5] }}</p>
                                            <p>Genders: {{ comp[4] }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    {% if loop.index != comps|length %}
                        <hr>
                    {% endif %}
                {% endfor %}
            </div>
            <form action="{{ url_for('info_add_feis') }}">
                <div class="text-center form-group col-md-12 justify-content-center" style="padding-bottom: 10px;">
                    <button type="submit" class="btn btn-primary">Next</button>
                </div>
            </form>
        </div>
    </body>
{% endblock body %}