{% extends "generalTemplates/outline.html" %}
{% block body %}
     <body>
        <div class="sub-box">
            <div class="container-fluid">
                <div class="title">
                    <h1 class="display-3">Art & Culture Competitions</h1>
                    <p style="font-size: 25px">For competitions with unique names, hold off until entering a Special Competition later on</p>
                </div>
            </div>
            <form action="{{ url_for('unique_add_feis') }}" style="font-size: 20px" class="mx-auto">
                <div class="py-4 container">
                    <div id="AR" class="d-flex flex-wrap align-items-center justify-content-center text-left px-2">
                    </div>
                    <div class="text-center form-group col-md-12 justify-content-center py-3">
                        <button type="button" id="addAR" class="btn btn-success">Add Competition</button>
                    </div>
                </div>
                <div class="text-center form-group col-md-12 justify-content-center">
                    <button type="submit" class="btn btn-primary">Next</button>
                </div>
            </form>
        </div>
    </body>
{% endblock body %}