{% extends "generalTemplates/outline.html" %}
{% block body %}
    <body>
        <div class="sub-box">
            <div class="container-fluid">
                <div class="title">
                    <h1 class="display-3">Define Main Attributes</h1>
                </div>
            </div>
            <form action="{{ url_for('ages_add_feis') }}" style="width: 300px" class="mx-auto text-left">
                <div class="card bg-light">
                    <div class="card-body">
                        <div class="card-text form-group my-4">
                            <label for="single">Single Age Groups</label>
                            {{ form.single_ages(class_="form-control", id="single") }}
                        </div>
                        <div class="card-text form-group my-4">
                            <label for="level">Include Levels(Open Championship, Novice, etc.)</label>
                            {{ form.levels(class_="form-control", id="level") }}
                        </div>
                        <div class="card-text form-group my-4">
                            <label for="champ">Separate Championship-level competitions by gender</label>
                            {{ form.separate_by_sex_champ(class_="form-control", id="champ") }}
                        </div>
                        <div class="card-text form-group my-4">
                            <label for="grades">Separate Grades-level competitions by gender</label>
                            {{ form.separate_by_sex_grades(class_="form-control", id="grades") }}
                        </div>
                    </div>
                    <div class="card-footer text-center">
                        <button type="submit" class="btn btn-primary">Next</button>
                    </div>
                </div>
            </form>
        </div>
    </body>
{% endblock body %}