{% extends "generalTemplates/outline.html" %}
{% block body %}
     <body>
        <div class="sub-box">
            <div class="container-fluid">
                <div class="title">
                    <h1 class="display-3">Art & Culture Competitions</h1>
                    <p style="font-size: 25px">For competitions with unique names, hold off until entering a Special Competition later on</p>
                </div>
            </div>
            <form action="{{ url_for('unique_add_feis') }}" style="font-size: 20px">
                <div class="sub-box">
                    <div id="AR" class="text-left mx-auto container d-flex p-2 flex-wrap align-items-center justify-content-center">
                        <div class="feis-box" style="width: 0; border: none; background: none"></div>
                    </div>
                    <div class="text-center form-group col-md-12 justify-content-center py-3" style="padding-bottom: 10px;">
                        <button type="button" id="addAR" class="btn btn-primary">Add Competition</button>
                    </div>
                </div>
            </form>
        </div>
    </body>
{% endblock body %}