{% extends "generalTemplates/outline.html" %}
{% block body %}
    <body>
        <div class="sub-box">
            <div class="container-fluid">
                <div class="title">
                    <h1 class="display-3">Define Main Attributes</h1>
                </div>
            </div>
            <form method="POST">
                <div class="text-left feis-box mx-auto sub-box d-flex p-2 flex-wrap bd-highlight align-items-center justify-content-center rounded" style="font-size:20px">
                    <div class="form-group col-md-12 justify-content-center" style="padding-top: 10px;">
                        <label for="single">Single Age Groups</label>
                        {{ form.single_ages(class_="form-control", id="single") }}
                    </div>
                    <div class="form-group col-md-12 justify-content-center" style="padding-top: 10px;">
                        <label for="single">Include Levels(Open Championship, Novice, etc.)</label>
                        {{ form.levels(class_="form-control", id="single") }}
                    </div>
                    <div class="form-group col-md-12 justify-content-center" style="padding-top: 10px;">
                        <label for="single">Separate Championship-level competitions by gender</label>
                        {{ form.separate_by_sex_champ(class_="form-control", id="single") }}
                    </div>
                    <div class="form-group col-md-12 justify-content-center" style="padding-top: 10px;">
                        <label for="single">Separate Grades-level competitions by gender</label>
                        {{ form.separate_by_sex_grades(class_="form-control", id="single") }}
                    </div>
                    <div class="text-center form-group col-md-12 justify-content-center" style="padding-bottom: 10px;">
                        <input type="hidden" name="next" value="ages" />
                        <button type="submit" class="btn btn-primary">Next</button>
                    </div>
                </div>
            </form>
        </div>
    </body>
{% endblock body %}