{% extends "generalTemplates/outline.html" %}
{% block body %}
     <body>
        <div class="sub-box">
            <div class="container-fluid">
                <div class="title">
                    <h1 class="display-3">Special Competitions</h1>
                    <p style="font-size: 25px">These are the competitions that make your feis special; you make all the rules here</p>
                </div>
            </div>
            <form action="{{ url_for('show_add_feis') }}" style="font-size: 20px">
                <div class="sub-box container">
                    <table id="SP" class="table table-striped table-bordered" style="font-size: 20px">
                        <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Level</th>
                                <th scope="col">Start Age</th>
                                <th scope="col">End Age</th>
                                <th scope="col">Genders</th>
                                <th scope="col">Remove</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                    <div class="text-center form-group col-md-12 justify-content-center py-3" style="padding-bottom: 10px;">
                        <button type="button" id="addSP" class="btn btn-success">Add Competition</button>
                    </div>
                </div>
                <div class="text-center form-group col-md-12 justify-content-center" style="padding-bottom: 10px;">
                    <button type="submit" class="btn btn-primary">Next</button>
                </div>
            </form>
        </div>
    </body>
{% endblock body %}