{% extends "generalTemplates/outline.html" %}
{% block body %}
     <body>
        <div class="sub-box">
            <div class="container-fluid">
                <div class="title">
                    <h1 class="display-3">Add Extra Basic Competitions</h1>
                    <p style="font-size: 25px">For competitions with unique names, hold off until entering a Special Competition later on</p>
                </div>
            </div>
            <form action="{{ url_for('art_add_feis') }}" style="font-size: 20px">
                <div class="sub-box">
                    <h1 class="display-4">Figures</h1>
                    <div id="FG" class="text-left mx-auto container d-flex p-2 flex-wrap align-items-center justify-content-center">
                        <div class="feis-box" style="width: 0; border: none; background: none"></div>
                    </div>
                    <div class="text-center form-group col-md-12 justify-content-center py-3" style="padding-bottom: 10px;">
                        <button type="button" id="addFG" class="btn btn-success">Add Competition</button>
                    </div>
                </div><hr style="width: 80%;">
                <div class="sub-box">
                    <h1 class="display-4">Treble Reel</h1>
                    <div id="TR" class="text-left mx-auto container d-flex p-2 flex-wrap align-items-center justify-content-center">
                        <div class="feis-box" style="width: 0; border: none; background: none"></div>
                    </div>
                    <div class="text-center form-group col-md-12 justify-content-center py-3" style="padding-bottom: 10px;">
                        <button type="button" id="addTR" class="btn btn-success">Add Competition</button>
                    </div>
                </div><hr style="width: 80%;">
                <div class="sub-box">
                    <h1 class="display-4">Tir na nOg</h1>
                    <div id="TNN" class="text-left mx-auto container d-flex p-2 flex-wrap align-items-center justify-content-center">
                        <div class="feis-box" style="width: 0; border: none; background: none"></div>
                    </div>
                    <div class="text-center form-group col-md-12 justify-content-center py-3" style="padding-bottom: 10px;">
                        <button type="button" id="addTNN" class="btn btn-success">Add Competition</button>
                    </div>
                </div>
                <div class="text-center form-group col-md-12 justify-content-center" style="padding-bottom: 10px;">
                    <button type="submit" class="btn btn-primary">Next</button>
                </div>
            </form>
        </div>
    </body>
{% endblock body %}