{% extends "generalTemplates/outline.html" %}
{% block body %}
    <body>
        <div class="sub-box">
            <div class="container-fluid">
                <div class="title">
                    <h1 class="display-3">Define Judges for {{ comp['code'] }}</h1>
                </div>
            </div>
            <div class="container">
                <div class="sub-title">
                    <h1 class="display-4">Old Judges</h1>
                </div>
                <table class="table table-striped table-bordered" style="font-size: 20px">
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Remove</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for judge in judges %}
                            <tr>
                                <td>{{ judge['name'] }}</td>
                                <td>
                                    <form method="POST">
                                        <input type="hidden" name="judgeId" value="{{ judge['id'] }}">
                                        <input type="hidden" name="addJudges" value="1">
                                        <button type='submit' class='btn btn-danger mt-2'>Delete</button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="container">
                <form method="POST">
                    <div class="sub-box">
                        <div class="sub-title">
                            <h1 class="display-4">New Judges</h1>
                        </div>
                        <table id="table" class="table table-striped table-bordered" style="font-size: 20px">
                            <thead>
                                <tr>
                                    <th scope="col">Name</th>
                                    <th scope="col">Remove</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                        <div class="text-center form-group col-md-12 justify-content-center py-3" style="padding-bottom: 10px;">
                            <button type="button" id="addJudge" class="btn btn-success">Add Judge</button>
                        </div>
                    </div>
                    <div class="text-center form-group col-md-12 justify-content-center" style="padding-bottom: 10px;">
                        <input type="hidden" name="compId" value="{{ comp['id'] }}">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </body>
{% endblock body %}