{% extends "generalTemplates/outline.html" %}
{% block body %}
    <body>
    <script type="text/javascript">
        $(document).ready(function () {
            var dancerNums = $(".Dancer");
            dancerNums.each(function (i) {
                if(!isNaN(parseFloat($(this).val()))) {
                    applyValidation(this, {{ judge['comp'] }}, '{{ url_for('check_dancer_num') }}');
                }
            });
            dancerNums.on('input', function () {
                applyValidation(this, {{ judge['comp'] }}, '{{ url_for('check_dancer_num') }}');
            });
            // Update dancer selector
            $("#addRow").mouseup(function () {
                console.log("mouse up");
                dancerNums = $(".Dancer");
                console.log(dancerNums);
            });
        });
    </script>
        <div class="sub-box">
            {% if errors|length > 0 %}
                <div class="sub-title d-flex container mx-auto hide shake-id justify-content-center align-items-center flex-wrap pb-0" style="color: red;">
                    {% for error in errors %}
                        <div class="col-md-12">
                            <p style="font-size: 20px;">{{ error }}</p>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
            <div class="container-fluid">
                <div class="title">
                    <h1 class="display-3">Enter Marks for {{ judge['name'] }}</h1>
                </div>
            </div>
            <div class="container">
                <form method="POST">
                    <div class="sub-box">
                        <table id="table" class="table table-striped table-bordered" style="font-size: 20px">
                            <thead>
                                <tr>
                                    <th scope="col">Dancer Number</th>
                                    <th scope="col" colspan="100">Rounds</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for mark in marks %}
                                    {% set i = loop.index0 %}
                                    <tr>
                                    {% for entry in mark %}
                                        <td>
                                            {% if loop.index == 1 %}
                                                <div class="form-group row mb-0 justify-content-center">
                                                    <i class="far fa-times-circle m-auto" style="color: red;"></i>
                                                    <input required style="width: 80%;" value="{{ entry }}" name="entries[{{ i }}][]" class="form-control Dancer my-auto mr-2" type="text" placeholder="Dancer">
                                                </div>
                                            {% else %}
                                                <div class="form-group mb-0">
                                                    <input required value="{{ entry }}" name="entries[{{ i }}][]" class="form-control" type="text" placeholder="Mark">
                                                </div>
                                            {% endif %}
                                        </td>
                                    {% endfor %}
                                        <td class="delBtn">
                                            <button type='button' class='btn btn-danger del'>Delete</button>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <div class="d-flex flex-wrap align-items-center justify-content-center">
                            <div class="text-center form-group col-md-6 justify-content-center py-3">
                                <button type="button" id="addRow" class="btn btn-success">Add Row</button>
                            </div>
                            <div class="text-center form-group col-md-6 justify-content-center py-3">
                                <button type="button" id="addCol" class="btn btn-success">Add Column</button>
                            </div>
                            <div class="text-center form-group col-md-6 justify-content-center py-3">
                                <button type="button" id="delCol" class="btn btn-danger">Delete Last Column</button>
                            </div>
                        </div>
                    </div>
                    <div class="text-center form-group col-md-12 justify-content-center py-2">
                        <input type="hidden" name="save" value="1">
                        <input type="hidden" name="judgeId" value="{{ judge['id'] }}">
                        <input type="hidden" name="compId" value="{{ judge['comp'] }}">
                        {% if sheet != -1 %}
                            <input type="hidden" name="sheetId" value="{{ sheet }}">
                        {% endif %}
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </body>
{% endblock body %}