{% extends "generalTemplates/outline.html" %}
{% block body %}
    <body>
        <div class="sub-box">
            <div class="container-fluid">
                <div class="title">
                    <h1 class="display-3">Enter Marks for {{ judge['name'] }}</h1>
                </div>
            </div>
            <div class="container">
                <form method="POST">
                    <div class="sub-box">
                        <table id="table" class="table table-striped table-bordered" style="font-size: 20px">
                            <thead>
                                <tr>
                                    <th scope="col">Dancer #</th>
                                    <th scope="col" colspan="100">Rounds</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for mark in marks %}
                                    <tr>
                                    {% for entry in mark %}
                                        {% if loop.index == 1 %}
                                            {% set place = "Dancer" %}
                                        {% else %}
                                            {% set place = "Mark" %}
                                        {% endif %}
                                        <td>
                                            <div class="form-group">
                                                <input value="{{ entry }}" name="entries[]" class="form-control" type="text" placeholder="{{ place }}">
                                            </div>
                                        </td>
                                    {% endfor %}
                                        <td>
                                            <button type='button' class='btn btn-danger mt-2 del'>Delete</button>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <div class="d-flex flex-wrap align-items-center justify-content-center">
                            <div class="text-center form-group col-md-6 justify-content-center py-3">
                                <button type="button" id="addRow" class="btn btn-success">Add Row</button>
                            </div>
                            <div class="text-center form-group col-md-6 justify-content-center py-3">
                                <button type="button" id="addCol" class="btn btn-success">Add Column</button>
                            </div>
                        </div>
                    </div>
                    <div class="text-center form-group col-md-12 justify-content-center py-3">
                        {% if sheet != -1 %}
                            <input type="hidden" name="sheetId" value="{{ sheet }}">
                        {% else %}
                            <input type="hidden" name="newSheet" value="1">
                        {% endif %}
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </body>
{% endblock body %}