{% extends "generalTemplates/outline.html" %}
{% block body %}
    <body>
        <div class="sub-box">
            <div class="container-fluid">
                <div class="title">
                    <h1 class="display-3">Create New Scoresheets</h1>
                </div>
            </div>
            <div id="judgeContainer" class="container">
                {% for judge in judges %}
                    <div class="judge">
                        <p hidden class="judgeId">{{ judge['id'] }}</p>
                        <div class="sub-title">
                            <h1 class="display-4">{{ judge['name'] }}'s Sheets</h1>
                        </div>
                        <table class="table table-striped table-bordered" style="font-size: 20px">
                            <thead>
                                <tr>
                                    <th scope="col">Contains Data</th>
                                    <th scope="col">Enter Data</th>
                                    <th scope="col">Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for sheet in sheets %}
                                    {% if judge['id'] == sheet['judge'] %}
                                        <tr>
                                            <td>Yes</td>
                                            <td>
                                                <form method="POST" action="{{ url_for('enter_marks') }}">
                                                    <input type="hidden" value="{{ sheet['id'] }}" name="sheetId">
                                                    <input type="hidden" value="{{ sheet['judge'] }}" name="judgeId">
                                                    <button type='submit' class='btn btn-info mt-2'>Edit</button>
                                                </form>
                                            </td>
                                            <td>
                                                <form method="POST" action="{{ url_for('del_sheet') }}">
                                                    <input type="hidden" value="{{ sheet['id'] }}" name="sheetId">
                                                    <input type="hidden" value="{{ comp['id'] }}" name="compId">
                                                    <button type='submit' class='btn btn-danger mt-2'>Remove</button>
                                                </form>
                                            </td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                        <div class="text-center form-group col-md-12 justify-content-center py-3" style="padding-bottom: 10px;">
                            <button type="button" class="addSheet btn btn-success">Add Sheet</button>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <hr style="width: 80%">
            <div class="container d-flex flex-wrap align-items-center justify-content-center">
                <div class="py-3 col-6">
                    <form method="POST">
                        <input type="hidden" name="compId" value="{{ comp['id'] }}" />
                        <input type="hidden" name="addJudges" value="1" />
                        <button class="btn btn-primary" type="submit">Edit Judges</button>
                    </form>
                </div>
                <div class="py-3 col-6">
                    <form method="POST" action="{{ url_for('tabulate_marks') }}">
                        <input type="hidden" value="{{ comp['id'] }}" name="compId" />
                        <button class="btn btn-primary" type="submit">Submit Marks</button>
                    </form>
                </div>
            </div>
        </div>
    </body>
{% endblock body %}